<header class="bg-secondary">
  <div class="container">
      <nav class="navbar navbar-dark">
          <a class="navbar-brand" href="#">
              Brand
          </a>
          <a class="btn btn-outline-light" href="/contact">Need Help?</a>
      </nav>
  </div>
</header>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="signup-form">
          <h2>User Sign Up</h2>
          <form action="/signup" method="post">
            <div class="mb-3">
              <label for="name1" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="username1" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username">
            </div>
            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password">
            </div>
            <div class="d-none">
              <input type="text" class="form-control"name="role" value="customers">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
          <p class="fs-5 text-center my-3">OR</p>
          <div class="col option">
            <div class="container p-0">
              <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
            <p class="fs-5 text-center my-3">OR</p>
            <div class="col mt-2 text-center">
              <a href="/shippersignup" class="btn btn-success align-self-center">Becomming a shipper</a>
            </div>
            <div class="col mt-2 text-center">
              <a href="/vendorsignup" class="btn btn-success align-self-center">Becomming a vendor</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>