<div class="mt-5">
    <div class="container mb-4">
        <div class="row row-cols-md-2 row-cols-1 bg-allvendor justify-content-center m-0 p-0" style="width: 100%">
            <div class="col d-flex justify-content-center align-items-center my-5" style="width: 25em">
                <a href="#">
                    <img class="rounded-circle" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" alt="acnestudio" style="width: 230px; height:230px; object-fit:cover" >
                </a>
            </div>
            <div class="col p-0 m-0" style="width: auto">
                <div class="row d-flex p-0 m-0">
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row row-cols-md-2 row-cols-1 bg-allvendor justify-content-center m-0 p-0" style="width: 100%">
            <div class="col d-flex justify-content-center align-items-center my-5" style="width: 25em">
                <a href="#">
                    <img class="rounded-circle" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" alt="acnestudio" style="width: 230px; height:230px; object-fit:cover" >
                </a>
            </div>
            <div class="col p-0 m-0" style="width: auto">
                <div class="row d-flex p-0 m-0">
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row row-cols-md-2 row-cols-1 bg-allvendor justify-content-center m-0 p-0" style="width: 100%">
            <div class="col d-flex justify-content-center align-items-center my-5" style="width: 25em">
                <a href="#">
                    <img class="rounded-circle" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" alt="acnestudio" style="width: 230px; height:230px; object-fit:cover" >
                </a>
            </div>
            <div class="col p-0 m-0" style="width: auto">
                <div class="row d-flex p-0 m-0">
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                    <div class="card col p-0 mx-2">
                        <div class="justify-content-center p-2" style="height: 20rem">
                            <img class="card-img-top" src="images/1684254166364-743636515-Screenshot 2023-03-23 103912.png" style="height: 100%; object-fit:cover" alt="acne studio shirt">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Black Crewneck</h4>
                            <p class="card-text">50$</p>
                            <a href="#" class="btn btn-primary btn-dark">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>