<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: 
Ngo Quang Khai
Phan Tran Minh Toan
Nguyen Kim Anh
Hyeonseok Kang
Oriol Mole Teiga
ID: 
Ngo Quang Khai  (s3975831)              
Phan Tran Minh Toan (s3963231)
Nguyen Kim Anh (s3939240)
Hyeonseok Kang (s3963294)
Oriol Mole Teiga (s3979344)
Acknowledgement: Boostrap v5.0+, ExpressJS, NodeJS, MongoDB, Ejs, Bcrypt, Multer, Express-session, Connect-Mongo -->


<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="signup-form">
          <h2>Shipper Sign Up</h2>
          <form action="/shippers-signup" method="post">
            <div class="mb-3">
              <label for="name1" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="username1" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username">
            </div>
            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password">
            </div>
            <div class="d-none">
              <input type="text" class="form-control"name="role" value="shippers">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>