<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: 
Ngo Quang Khai
Phan Tran Minh Toan
Nguyen Kim Anh
Hyeonseok Kang
Oriol Mole Teiga
ID: 
Ngo Quang Khai  (s3975831)              
Phan Tran Minh Toan (s3963231)
Nguyen Kim Anh (s3939240)
Hyeonseok Kang (s3963294)
Oriol Mole Teiga (s3979344)
Acknowledgement: Boostrap v5.0+, ExpressJS, NodeJS, MongoDB, Ejs, Bcrypt, Multer, Express-session, Connect-Mongo -->

<div class="container bg-body">
    <div class="px-0 py-2">
      <div class="row">
        <div class="col">
          <h3>Contact</h3>
          <b>List of Team Members:</b>
          <ul>
            <li>Hyeonseok Kang (<a href="mailto:hyeonseok@example.com">hyeonseok@example.com</a>)</li>
            <li>Ngô Quang Khải (<a href="mailto:ngokhai@example.com">ngokhai@example.com</a>)</li>
            <li>Nguyễn Kim Anh (<a href="mailto:nguyenkimanh@example.com">nguyenkimanh@example.com</a>)</li>
            <li>Oriol Moles Teiga (<a href="mailto:oriolmo@example.com">s3979344@rmit.edu.vn</a>)</li>
            <li>The Bôn (<a href="mailto:thebon@example.com">thebon@example.com</a>)</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Contact Form</h3>
          <form action="/contact" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message:</label>
              <textarea class="form-control" id="message" name="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>