<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: 
Ngo Quang Khai
Phan Tran Minh Toan
Nguyen Kim Anh
Hyeonseok Kang
Oriol Mole Teiga
ID: 
Ngo Quang Khai  (s3975831)              
Phan Tran Minh Toan (s3963231)
Nguyen Kim Anh (s3939240)
Hyeonseok Kang (s3963294)
Oriol Mole Teiga (s3979344)
Acknowledgement: Boostrap v5.0+, ExpressJS, NodeJS, MongoDB, Ejs, Bcrypt, Multer, Express-session, Connect-Mongo -->

    <div class="container py-5 justify-content-center mt-5">
        <form>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    <div class="form-group my-3">
                        <label for="name">Your Full Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group my-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Ex. 1234 Main St" required>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-5 mb-3">
                            <label for="country">Choose your country:</label>
                            <select class="form-select" id="country" name="country" aria-label="category">
                                <option value="United States">United States</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="storage">Shipping from storage:</label>
                            <select class="form-select" id="storage" name="storage" aria-label="category">
                                <option value="storage1">Storage #1</option>
                                <option value="storage2">Storage #2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="container my-3 bg-light">
                <h1 class="mb-4">Your Cart</h1>
                <div class="row">
                    <div class="col-3"><p class="m-0 p-0 fs-5 fw-bold">Item</p></div>
                    <div class="col-5"><p class="m-0 p-0 fs-5 fw-bold">Name of item</p></div>
                    <div class="col-2"><p class="m-0 p-0 fs-5 fw-bold text-end">Quantity</p></div>
                    <div class="col-2"><p class="m-0 p-0 fs-5 fw-bold text-end">Price</p></div>
                </div>
                <div class="container border border-dark my-2"></div>

                <div class="row">
                    <div class="col-3 item-image" style="height: 10rem;">
                        <img src="AI0083-900_A.jpeg" alt="shirt">
                    </div>
                    <div class="col-5">
                        <p class="m-0 p-0 text-start">Product 1</p>
                    </div>
                    <div class="col-2 justify-self-left">
                        <div class="input-group w-auto justify-content-end align-items-center">
                            <input type="number" step="1" max="10" value="1" name="quantity" class="active border-0 text-center w-25">
                        </div>
                    </div>
                    <div class="col-2">
                        <p class="m-0 p-0 text-end">Price</p>
                    </div>
                </div>
                
                
            
            </div>
            <div class="row my-4 d-flex">
                <div class="col-5">
                <a href="/all-products" class="btn btn-primary">Continue Shopping</a>
                </div>
                <div class="col-5 ms-auto">
                <button type="submit" class="btn btn-success form-control">Checkout</button>
                </div>
            </div>
        </form>
    </div>