<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: 
Ngo Quang Khai
Phan Tran Minh Toan
Nguyen Kim Anh
Hyeonseok Kang
Oriol Mole Teiga
ID: 
Ngo Quang Khai  (s3975831)              
Phan Tran Minh Toan (s3963231)
Nguyen Kim Anh (s3939240)
Hyeonseok Kang (s3963294)
Oriol Mole Teiga (s3979344)
Acknowledgement: Boostrap v5.0+, ExpressJS, NodeJS, MongoDB, Ejs, Bcrypt, Multer, Express-session, Connect-Mongo -->

<div class="container">
    <div class="title text-center mt-5 fs-1">Shipper hub</div>
    <div class="card mb-3 mt-5">   
        <a href="/shipperhub/storage1" class="row g-0 text-decoration-none text-black">
          <div class="col-md-4" style="height: 20rem;">
            <img src="/images/eduardo-soares-LtZg1g-vBT4-unsplash.jpg" class="img-fluid rounded-start" style=" width:100%; height: 100%; object-fit: cover;" alt="storage 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Storge #1</h5>
              <p class="card-text">Building 1 RMIT University South Campus</p>
              <p class="card-text">702 Nguyen Van Linh Street, Ward Tan Hung, District 7, Ho Chi Minh city</p>
              <p class="card-text"><small>Postal code: 700000</small></p>
            </div>
          </div>
        </a>
    </div>
    <div class="card mb-3 mt-5">
      <a href="/shipperhub/storage2" class="row g-0 text-decoration-none text-black">
        <div class="col-md-4" style="height: 20rem;">
          <img src="/images/mak-8wy9mGgmGoU-unsplash.jpg" class="img-fluid rounded-start" style=" width:100%; height: 100%; object-fit: cover;" alt="storage 2">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Storage #2</h5>
            <p class="card-text">Building 2 RMIT University South Campus</p>
            <p class="card-text">702 Nguyen Van Linh Street, Ward Tan Hung, District 7, Ho Chi Minh city</p>
            <p class="card-text"><small>Postal code: 700000</small></p>
          </div>
        </div>
      </a>
    </div>
</div>