<content>
  <div class="my-5">
    <div class="container bg-body p-4">
      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img src="images/railway-hdr-1361893.jpg" class="d-block w-100 c-img" alt="">
          </div>
          <div class="carousel-item c-item">
            <img src="images/railway-hdr-1361893.jpg" class="d-block w-100 c-img" alt="">
          </div>
          <div class="carousel-item c-item">
            <img src="images/railway-hdr-1361893.jpg" class="d-block w-100 c-img" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="container bg-body p-4 mt-2">
      <div class="row row-cols-2 row-cols-md-4 gy-5">
        <div class="col d-flex justify-content-center">
          <a href="#" class="categories">
            <div class="card text-white c-cate-img">
              <img src="images/mtsh0001-burw-1.webp" class="card-img cate-img" alt="Tops">
              <div class="card-img-overlay mx-auto">
                <h5 class="card-title text-center caption ">Tops</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a href="#" class="categories">
            <div class="card text-white c-cate-img">
              <img src="images/Downtime-Lounge-Pants-storm-front.webp" class="card-img cate-img" alt="Pants">
              <div class="card-img-overlay mx-auto">
                <h5 class="card-title text-center caption ">Pants</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a href="#" class="categories">
            <div class="card text-white c-cate-img">
              <img src="images/download.jfif" class="card-img cate-img" alt="Shoes">
              <div class="card-img-overlay mx-auto">
                <h5 class="card-title text-center caption ">Shoes</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a href="#" class="categories">
            <div class="card text-white c-cate-img">
              <img src="images/www.madebyvadim.com.jpg" class="card-img cate-img" alt="Accessories">
              <div class="card-img-overlay mx-auto">
                <h5 class="card-title text-center caption ">Accessories</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col d-flex mt-4">
        <a href="/all-products" class="categories text-decoration-none">
          All Products <<<
        </a>
      </div>
      <div class="col d-flex mt-4">
        <a href="/all-vendor" class="categories text-decoration-none">
          All Vendor <<<
        </a>
      </div>
    </div>
  </div>
  <div class="container p-4 g-5">
    <div class="row row-cols-md-3 row-cols-1 p-4 g-5">
      <a class="col text-decoration-none text-black" href="#">
        <div class="row row-cols-xl-2 row-cols-1 item-2 bg-light justify-content-center">
          <div class="col m-0 p-0 clothing-image-square">
            <img
              src="images/1684480467098-594125846-bba.jpeg"
              class="p-0 m-0"
              alt="Clothing 2"
            />
          </div>
          <div class="col">
            <h3>Black Crewneck</h3>
            <p>Long sleeve, Black</p>
          </div>
        </div>
      </a>
      <a class="col text-decoration-none text-black" href="#">
        <div class="row row-cols-xl-2 row-cols-1 item-2 bg-light justify-content-center">
          <div class="col m-0 p-0 clothing-image-square">
            <img
              src="images/1684482297876-685154866-Picture3.png"
              class="p-0 m-0"
              alt="Clothing 2"
            />
          </div>
          <div class="col">
            <h3>White Buttoned Shirt</h3>
            <p>Antique Collared White Shirt</p>
          </div>
        </div>
      </a>
      <a class="col text-decoration-none text-black" href="#">
        <div class="row row-cols-xl-2 row-cols-1 item-2 bg-light justify-content-center">
          <div class="col m-0 p-0 clothing-image-square">
            <img
              src="images/1684482261777-669631560-Picture2.png"
              class="p-0 m-0"
              alt="Clothing 2"
            />
          </div>
          <div class="col">
            <h3>Patterned Jacket</h3>
            <p>Blue Patterned Outer Jacket</p>
          </div>
        </div>
      </a>  
    </div>
    <div class="row row-cols-1 row-cols-md-2 mt-3">
      <a class="col p-0 text-decoration-none text-black" href="#">
        <div class="row row-cols-md-2 item-4 bg-light m-2">
          <div class="col mb-3 clothing-image-tall p-0">
            <img
              src="images/1684482466956-799113438-mh2.jpeg"
              class="p-0 m-0"
              alt="Clothing 4"
            />
          </div>
          <div class="col clothing-description-short">
            <h3>Green Hoodie</h3>
            <p>Distressed Light Green Hoodie</p>
          </div>
        </div>
      </a>
      <a class="col p-0 text-decoration-none text-black" href="#">
        <div class="row row-cols-md-2 item-4 bg-light m-2">
          <div class="col mb-3 clothing-image-tall p-0">
            <img
              src="images/1684482429697-9135130-mh.jpeg"
              class="p-0 m-0"
              alt="Clothing 4"
            />
          </div>
          <div class="col clothing-description-short" >
            <h3>Printed Bear Hoodie</h3>
            <p>Grey, Bear Patterned</p>
          </div>
        </div>
      </a>
    </div>
  </div>

</content>