<%- include('partials/head'); %>
<body class="bg-secondary bg-opacity-25">
    <%- include('partials/body-header-user'); %>
    <%- include('partials/body-product-detail'); %>
    <%- include('partials/body-scripts') %>
</body>
</html>